language: php

php:
  - 5.5
  - 5.4
  - 5.3
matrix:
  allow-failures:
    - php: 5.5

before_install:
  - composer self-update
  - pear channel-discover pear.drush.org
  - "sudo apt-get update"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3

install:
  - pear install drush/drush
  - phpenv rehash

before_script:
  # Apache webserver configuration
  - curl https://raw.githubusercontent.com/moliware/travis-solr/master/travis-solr.sh | SOLR_VERSION=3.5.0 bash
  - sudo find / -name "conf" -type d -print
  - sudo apt-get install -y --force-yes apache2 libapache2-mod-php5 php5-mysql php5-curl
  - sudo sed -i -e "s,/var/www,$(pwd)/docroot,g" /etc/apache2/sites-available/default
  - sudo a2enmod rewrite
  - sudo a2enmod actions
  - sudo service apache2 restart
  # MySQL database configuration
  - mysql -e 'CREATE DATABASE devtrac_distro;'
  # Ant build tool configuration
  - cp build.properties.dist build.properties
  - sed -i -e "s,username:password@host/db,travis@127.0.0.1/devtrac_distro,g" build.properties
  - drush --yes make build-devtrac_distro.make build
  # removed the testing module
  #- chmod 777 -R test/solrtest/
  - cd build
  - cp profiles/devtrac/modules/contrib/search_api_solr/solr-conf/3.x/* /home/travis/build/TddDoctor/devtrac-distro/apache-solr-3.5.0/example/solr/conf/
  - php -d sendmail_path=/dev/null `which drush` si devtrac \
      --db-url=mysql://root:@127.0.0.1/devtrac_distro \
      --account-name=admin \
      --account-pass=admin \
      --site-mail=admin@example.com \
      --account-mail=admin@mydevtrac.com \
      --site-name=${PROJECT_NAME} \
      --clean-url \
      --install_configure_form.site_default_country=UG \
      --install_configure_form.date_default_timezone=Africa/Kampala \
      --devtrac_install_statistics_select_form.module=none \
      --devtrac_solr_configure_form.host=localhost \
      --devtrac_solr_configure_form.port=8080 \
      --devtrac_solr_configure_form.path=/solr \
      --devtrac_username_geonames_form.username=devtrac \
      --yes
  #- drush --yes site-install minimal --db-url="mysql://travis@127.0.0.1/devtrac_distro"
  - drush cc all --yes
  #- drush --yes dl search_api_solr
  #- drush --yes dl search_api
  #- drush --yes en search_api
  #- drush --yes en search_api_solr
  #- drush --yes en solrtest
  #- cp sites/all/modules/search_api_solr/solr-conf/4.x/* /home/travis/build/TddDoctor/devtrac-distro/solr-4.4.0/example/solr/collection1/conf/
  - sudo chmod 777 sites/default/
  #- cp -R /home/travis/build/TddDoctor/devtrac-distro/modules/ sites/default/
  #- sudo chmod 777 sites/default/settings.php 
  #- sudo echo " " >> sites/default/settings.php
  #- echo "  'travis_solr_server' => array(" >> sites/default/settings.php
  #- echo "    'options' => array(" >> sites/default/settings.php
  #- echo "      'host' => 'localhost'," >> sites/default/settings.php
  #- echo "      'path' => '/solr'," >> sites/default/settings.php
  #- echo "      'port' =>'8983'," >> sites/default/settings.php
  #- echo "    )," >> sites/default/settings.php
  #- echo "  )," >> sites/default/settings.php
  #- echo ");" >> sites/default/settings.php
  
  - drush --yes en simpletest  
  - drush cache-clear all
  - sudo find / -name "default" -type d -print
  - chmod -R 777 /home/travis/build/TddDoctor/devtrac-distro/test/solrtest/
  - chmod 777 /home/travis/build/TddDoctor/devtrac-distro/test/solrtest/testsuite-1.xml
  - cd ../
  
script:
   - ant run-tests
  #- drush test-run Profile  --debug --verbose --uri=localhost/devtrac_distro  --xml=/home/travis/build/TddDoctor/devtrac-distro/test/solrtest
  #- value=`cat test.txt`
  #- echo "$value"
  #- TEST_EXIT=${PIPESTATUS[0]}
  #- TRAVIS_TEST_RESULT=$(! egrep -i "([0-9]+ fails)|(PHP Fatal error)|([0-9]+ exceptions)" /home/travis/build/TddDoctor/devtrac-distro/test/solrtest/testsuite-1.xml> /dev/null)$?
  #- if [ $TEST_EXIT -eq 0 ] && [ $TEST_SIMPLETEST -eq 0 ]; then exit 0; else exit 1; fi

after_script:
- echo TRAVIS_TEST_RESULT 
  
notifications:
  irc:
    - "chat.freenode.net#devtrac"
